@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

.App {
  text-align: center;
}

.button {
  background-color: #4caf50;
}
.box {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: solid 1px #888;
  border-radius: 6px;
  margin: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes hover-effect {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes expandAndRetract {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hiddenBox:hover {
  transform: scale(1.2); /* Scale up on hover */
}

.unselectedBox:hover {
  transform: scale(1.2); /* Scale up on hover */
}

.helpButton:hover {
  transform: scale(1.2); /* Scale up on hover */
}
.bottomBoxButton:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.expand-retract {
  animation: expandAndRetract 0.3s ease;
}

.revealGameComplete {
  visibility: visible;
  animation: expandAndRetract 0.5s ease;
  font-size: xx-large;
  font-family: "Comfortaa";
  margin-top: 80px;
  margin-bottom: 30px;
  padding-left: 55px;
}

.hiddenGameComplete {
  font-size: xx-large;
  font-family: "Comfortaa";
  visibility: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hiddenBox {
  display: flex;
  background-color: rgb(51, 50, 48);
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 6px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.unselectedBox {
  display: flex;
  background-color: rgb(194, 194, 194);
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 6px;
  font-size: 20px;
  transition: transform 0.3s ease;
  font-size: medium;
  font-family: "Comfortaa";
}
.selectedBox {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 6px;
  font-size: 20px;
  font-size: medium;
  font-family: "Comfortaa";
}
.selectedBoxOutline {
  display: flex;
  background-color: rgb(194, 194, 194);
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: blueviolet;
  font-size: 20px;
  font-size: medium;
  font-family: "Comfortaa";
}
.rowCountBox {
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 90px;
  border-radius: 6px;
  font-size: 20px;
  font-size: medium;
  font-family: "Comfortaa";
}

.App {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 6px;
}

.gridBoard {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(10, 60px);
  grid-gap: 0;
  align-self: flex-start;
}
.rowCountGridBoard {
  display: grid;
  grid-template-columns: repeat(1 60px);
  grid-template-rows: repeat(10, 60px);
  grid-gap: 0;
  align-self: flex-start;
}
.mainContent {
  display: flex;

  margin-top: 5px;
}
.mainContentDisabled {
  pointer-events: none;
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  z-index: 500;
}
.topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 161, 230);

  height: 45px;
  width: 385px;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(197, 161, 230);
  font-size: 20px;
}
.bottomBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 161, 230);

  height: 45px;
  width: 385px;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(197, 161, 230);
  font-size: 20px;
}
.bottomBoxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 161, 230);

  height: 45px;
  width: 385px;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(197, 161, 230);
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.playerScore {
  font-size: x-large;
  font-family: "Comfortaa";
  font-weight: bold;
}
.scoreBox {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-left: 4px;
  margin-right: 6px;
  font-size: medium;
  font-family: "Comfortaa";
}

.bounceScoreBox {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-left: 4px;
  margin-right: 6px;
  font-size: medium;
  font-family: "Comfortaa";
  animation: expandAndRetract 0.5s ease;
}

.playerScore2 {
  font-size: small;
  font-family: "Comfortaa";
  font-weight: 600;
}

.pastScores {
  font-size: large;
  font-family: "Comfortaa";
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
}
.endPuzzleText {
  font-size: x-large;
  font-family: "Comfortaa";
}
.endGameStats {
  display: flex;
  align-items: top;
  justify-content: center;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center the modal properly */
  width: 400px;
  height: 270px;
  background-color: white;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

.endGameLeaderboard {
  display: flex;
  align-items: top;
  justify-content: center;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center the modal properly */
  width: 400px;
  height: 390px;
  background-color: white;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
.endGameStatsContainer {
  width: 60%;
}
.tutorial {
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center the modal properly */
  width: 450px;
  height: 330px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.video {
  margin-left: 20px;
  margin-top: 15px;
}

.scoreText {
  font-size: large;
  font-family: "Comfortaa";
  font-weight: bold;
}
.highScore {
  font-size: x-large;
  font-family: "Comfortaa";
  font-weight: 900;
  color: goldenrod;
  margin-bottom: 15px;
}
.highScoreHidden {
  visibility: hidden;
  font-size: small;
  font-family: "Comfortaa";
  font-weight: 900;

  color: rgb(70, 51, 4);
}
.modalText1 {
  font-size: xx-large;
  font-family: "Comfortaa";
  font-weight: 900;
  color: blueviolet;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: #282c34;
  border-width: 2px;
  border-bottom-style: solid;
}
.modalText2 {
  font-size: medium;
  font-family: "Comfortaa";

  margin-top: 25px;
}
.modalText3 {
  font-size: 14px;
  font-family: "Comfortaa";
  padding-bottom: 5px;
}

.modalText4 {
  font-size: medium;
  font-family: "Comfortaa";
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  border-color: #333;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.modalText5 {
  font-size: medium;
  font-family: "Comfortaa";

  margin-top: 10px;
  margin-bottom: 10px;
}
.modalText1Tut {
  font-size: xx-large;
  font-family: "Comfortaa";
  color: blueviolet;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: #282c34;
  border-width: 2px;
  border-bottom-style: solid;
  margin-left: 20px;
  padding-left: 15px;
  font-weight: 900;
}
.shareButtonBounce {
  font-size: small;
  font-family: "Comfortaa";
  border-width: 2px;
  border-style: solid;
  color: #333;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-color: bisque;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-top: 10px;
  animation: expandAndRetract 0.5s ease;
}

.shareButton {
  font-size: small;
  font-family: "Comfortaa";
  border-width: 2px;
  border-style: solid;
  color: #333;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-color: bisque;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  margin-left: 0 px;
  margin-top: 10px;
  cursor: pointer;
}
.closeButton {
  position: absolute; /* Position the button absolutely within the modal content */
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  color: black;
}
.fadeInOut {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: small;
  font-family: "Comfortaa";
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: #333;
  background-color: #333;
  margin-top: 10px;
  width: 100%;
  animation: fadeInOut 1s ease-in-out forwards;
}

.fadeIn {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: small;
  font-family: "Comfortaa";
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: #333;
  background-color: #333;
  margin-top: 10px;
  width: 100%;
  animation: fadeIn 1s ease-in-out forwards;
}

.clipboardText {
  /* Define any additional styling for the text here */
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading2 {
  font-size: larger;
  align-self: top;
}
.grid-board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(10, 40px);
  grid-gap: 5px;
  align-self: flex-start;
}

.App-link {
  color: #61dafb;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

@media (max-width: 600px) {
  .navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: left;
    padding: 10px 0px;
  }
  .video {
    align-self: center;
    margin-top: -10px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
  }
  .tutorial {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-self: center;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the modal properly */
    width: 300px;
    height: 650px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .modalText1Tut {
    font-size: xx-large;
    font-family: "Comfortaa";
    color: blueviolet;

    padding-bottom: 5px;
    border-bottom: #282c34;
    border-width: 2px;
    border-bottom-style: solid;
    margin-left: 20px;
    padding-left: 15px;
    font-weight: 900;
  }
}

.helpButton {
  background-color: transparent;

  position: fixed;
  right: 10px;

  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-size: medium;
  font-family: "Comfortaa";
  transition: transform 0.3s ease;
}

.helpButtonOutline {
  outline: none; /* Remove focus outline for better aesthetics */
}

.leaderboardBox {
  display: flex;
  width: 250px;
}

.leaderboardBoxStats {
  display: flex;

  align-items: center;
  background-color: rgb(197, 161, 230);

  height: 30px;
  width: 200px;
  border-width: 5px;

  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
  font-size: large;
  font-family: "Comfortaa";
}
.userLeaderboardBoxStats {
  display: flex;

  align-items: center;
  background-color: rgb(241, 163, 46);

  height: 30px;
  width: 200px;
  border-width: 5px;

  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
  font-size: large;
  font-family: "Comfortaa";
}
.highscoreName {
  position: fixed;
  margin-right: 5px;
  left: 120px;
}
.highscoreScore {
  position: fixed;
  right: 95px;
  justify-content: flex-end;
}

.leaderboardBoxNum {
  display: flex;

  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333333;
  font-size: xx-small;
  font-weight: 100;
  font-family: "Comfortaa";

  height: 30px;
  width: 30px;

  font-size: 20px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 4px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.placeNum {
  display: flex;
}
.playerScore3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 220, 123);

  height: 30px;
  width: 2005px;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(197, 161, 230);
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.logoText1 {
  font-size: xx-large;
  font-family: "Comfortaa";
  font-weight: 900;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.logoText2 {
  font-size: xx-large;
  font-family: "Comfortaa";
  font-weight: 900;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.logoGrid {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  grid-template-rows: repeat(2, 20px);
  grid-gap: 0;
  padding-left: 4px;
  padding-right: 2px;
}
.purpleLogoBox {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 2px;
}
.greyLogoBox {
  display: flex;
  background-color: rgb(194, 194, 194);
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
